<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraft_PART2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KhumaloCraft_POE_PART2.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .navbar-custom {
            background-color: #EC8829;
        }

            .navbar-custom .navbar-brand,
            .navbar-custom .nav-link {
                color: white;
            }

                .navbar-custom .nav-link:hover {
                    color: #f8f9fa;
                }

            .navbar-custom .btn-link {
                color: white;
            }

        .footer {
            background-color: #EC8829;
            color: #f8f9fa;
            padding: 10px 0;
        }

            .footer b {
                display: flex;
                align-items: center;
            }

                .footer b img {
                    margin-right: 10px;
                }

            .footer .right-align {
                margin-left: auto;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <b><img src="~/ImageFolder/khumaloCraftLogo.png" width="60" height="60"> KhumaloCraft</b>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="MyWork">My Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Craft" asp-action="AboutUs">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Create">Contact us</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Products" asp-action="CartDetails">Order Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">Feedback</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container d-flex align-items-center">
            <b>
                <img src="~/ImageFolder/khumaloCraftLogo.png" width="70" height="70"> KhumaloCraft
            </b>
            <img src="~/ImageFolder/HotDogMan.png" width="60" height="60" class="right-align">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


