<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://khumalocraftfunctionst10286777.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7ab64295-bdfe-4dc0-9fb7-858479d6e0d9/resourceGroups/ST10286777/providers/Microsoft.Web/sites/KhumaloCraftFunctionST10286777</ResourceId>
    <UserName>$KhumaloCraftFunctionST10286777</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://khumalocraftfunctionst10286777.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>